<!DOCTYPE html>
<html>

<head>
  <link href="https://andybrewer.github.io/mvp/mvp.css" rel="stylesheet"></link>
</head>

<body>
  <header>
    <h1>{{data["title"]}}</h1>
    <div>
      {{data["points"]}} | By {{data["author"]}} | <a href="{{data["title"]}}">{{data["url"]}}</a>
    </div>
  </header>
  <main>
    {% for comment in comments %}
      {% if comment['author'] %}
      <div>
        <strong>{{comment['author']}}:</strong>
        <p></p>
        {{comment['text']|safe}}
        <p></p>
      </div>
      {% else %}
      <div> [deleted] </div>
      {% endif %}
    <hr>
    {% endfor %}
  </main>
</body>

</html>